* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow:hidden
}

@font-face {
    font-family: 'comic';
    src: url(../fonts/ComicNeue-Regular.ttf);
}

.main{
    filter: blur(0);
    font-family: 'comic';
    position: relative;
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header img{
    margin: 1.5vw;
    height: 75px;
    width: 75px;
}
.header h1{
    transform: translate(-50%, -50%);
    background-color: aqua;
    border-radius: 40%;
    height: 5vw;
    width: 12vw;
    position: absolute;
    top: 9%;
    left: 50%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: block;
    word-spacing: 1vw;
    position: relative;
    height: 35vw;
    width: 100vw;
}
.main.blur {
    filter: blur(15px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevent clicks on the main element */
}

#title{
    margin-top: 1vw;
    font-size: 1.5vw;
    margin-left: 3vw;       
    margin-right: 3vw;       
    text-align: center;
    color: rgb(73, 19, 117);
}
#question{
    margin-top: 1.5vw;
    font-size: 1.8vw;
    margin-left: 3vw;       
    margin-right: 3vw;       
    text-align: center;
    word-spacing: 1.5vw;
    line-height: 2.5vw;
}
.puzzleOptions{
    margin-top: 3vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.puzzleOptions input{
    border-radius: 1vw;
    margin-left: 2vw;
    font-size: 2.5vw;
}
.puzzleOptions label{
    margin-left: 1vw;
}
.game button{
    background-color: lightgreen;
    margin-top: 1.2vw;
    font-size: 1.2vw;
    border: 2px solid black;
    border-radius: 2vw;
    height: 2.5vw;
    width: 12vw;
}
.settings{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    height: 20vw;
    width: 20vw;
    background-color: rgb(127, 180, 169);
    border-radius: 20%;
}
.settings img{
    height: 6vw;
    width: 6vw;
}
.settings button {
    margin-top: 15px; /* Add spacing between elements */
    padding: 8px 16px;
    background-color: #6a5acd; /* A nice complementary color */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.feedback{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.feedback p {
    color: crimson;
    font-size: xx-large;
}
.incorrectFeedback{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.feedback img{
    margin-bottom: 10vw;
    height: 9vw;
    width: 9vw;
}
.incorrectFeedback img{
    margin-bottom: 10vw;
    height: 6vw;
    width: 6vw;
}
.incorrectFeedback h1{
    margin-bottom: 3vw;
    font-size:3vw;
    color: red;
}


